.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: var(--defalut-border);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 25px;
}

.nav__ellipsis__nofi {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  left: 35px;
  bottom: 35px;
}
